<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/static/images/IA.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <form action="/" method="post" autocomplete="off">
    <div class="container">
        <div class="login-form">
            <img src="{{ url_for('static', filename='images/sphere_2.gif') }}" alt="Website Logo" class="logo">
            <h1>{{ login_title|safe }}</h1>
            {% if get_flashed_messages()[0] != "" %}
                <h5>{{get_flashed_messages()[0]}}</h5>
            {% endif %}
            <input type="text" class="input-field" placeholder="Prolific_ID" name="username" id="username">
            <input type="password" class="input-field" placeholder="Password" name="password" id="password">
            <button type="submit" name="login">Connect</button>
        </div>
    </div>
</form>
<button class="researcher-button" onclick="toggleResearcherForm()">Researcher Access</button>

<div id="researcher-popup" class="invisible">
    <form class="researcher-form" onsubmit="submitResearcherForm(event)">
        <div id="error-message" style="display:none; color: red; text-align: center;"></div>
        <input type="text" class="input-field" placeholder="Researcher_Username" name="researcher_username">
        <input type="password" class="input-field" placeholder="Researcher_Password" name="researcher_password">
        <button type="submit">Access</button>
    </form>
</div>
<div class="bottom-left-corner">
    {{ login_footer_line1 }}<br>
    <span class="tiny-text">{{ login_footer_line2 }}</span><br>
    <span class="highlighted-text">{{ login_footer_line3 }}</span>
</div>
<script>
    function toggleResearcherForm() {
        var popup = document.getElementById('researcher-popup');
        popup.classList.toggle('visible');
        popup.classList.toggle('invisible');
        if (popup.classList.contains('visible')) {
            document.querySelector('input[name="researcher_username"]').focus();
        }
    }

    function showError(message) {
        var errorMessage = document.getElementById('error-message');
        errorMessage.textContent = message;
        errorMessage.style.display = 'block';
    }

    async function submitResearcherForm(event) {
        event.preventDefault();
        const formData = new FormData(event.target);

        const response = await fetch('/researcher', {
            method: 'POST',
            body: formData
        });

        const result = await response.json();
        if (result.success) {
            window.location.href = '/research_dashboard'; 
        } else {
            showError(result.message);
        }
    }

    document.getElementById('username').focus();
</script>
</body>
</html>